# Ignore Python virtual environments and cache files
venv/
Lib/
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore system files
.DS_Store
Thumbs.db

# Ignore environment files
.env

# Ignore databases (optional)
*.sqlite3
